.navbar{
    width: 100%;
    border-radius: 0;
    border-width: 0;
    z-index: 1030;
    margin: 0;
}
.navbar-inverse {
    background-color: #000;
}
.navbar-inverse .navbar-nav>li>a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    /*text-shadow: 0px 1px 1px #000, 1px 0px 1px #000, 0px -1px 1px #000, -1px 0px 1px #000;*/
}
.navbar-inverse .navbar-nav>li>a:hover {
    background-color: #c00;
    /*text-shadow: 0px 1px 1px #000, 1px 0px 1px #000, 0px -1px 1px #000, -1px 0px 1px #000;*/
}

@media (min-width: 768px) and (max-width: 992px) {
    .navbar-inverse .navbar-nav>li>a {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.navbar .navbar-header {
    float: none;
    display: inline-block;
}
@media (min-width: 768px) {
    .navbar-brand img {
        height: 186px;
        margin-top: -15px;
    }
    .navbar.affix .navbar-brand img {
        height: 120px;
        margin-top: -20px;
        background: #000;
        border-radius: 50%;
        padding: 10px;
    }
    .navbar-bottom .navbar-brand img {
        margin-top: -140px;
    }
    .navbar .nav {
        position: absolute;
        top: 13px;
    }
    .navbar.affix .nav {
        top: 3px;
    }
    .navbar .nav-left {
        right: 50%;
        margin-right: 100px;
    }
    .navbar .nav-right {
        left: 50%;
        margin-left: 100px;
    }
    .navbar.affix .nav-left {
        margin-right: 67px;
    }
    .navbar.affix .nav-right {
        margin-left: 67px;
    }
    .navbar-inverse .navbar-nav>li>a small {
        display: block;
    }
    .navbar.affix-top {
        position: absolute;
        top: 0;
        background-color: rgba(0,0,0,0.5);
        padding: 10px 0;
    }
    .navbar.affix-top.navbar-bottom{
        top: auto;
        bottom: 0;
    }
    .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
        color: #f00 !important;
        background-color: transparent;
    }
    .navbar-inverse {
        font-size: 13px;
    }
}
@media (min-width: 992px) {
    .navbar .brand-small img {
        height: 30px;
        margin-top: 4px;
    }
    .navbar-inverse {
        font-size: 16px;
    }
}
@media (min-width: 1200px) {
    .navbar .brand-small img {
        height:38px;
        margin-top:1px;
    }
    .navbar-inverse {
        font-size: 20px;
    }
}