html, body, .fh {
    height:100%;
}
img {
    max-width: 100%;
    height: auto;
}
body {
    position: relative;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .datebox span, .text-lg {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    color: #000;
}
@media (min-width:768px) {
    h1, .h1 {
        font-size: 72px;
    }
    h2, .h2 {
        font-size: 60px;
    }
    .text-lg {
        font-size: 24px;
        line-height: 1;
    }
}
@media (min-width:992px) {
    .text-lg {
        font-size: 32px;
    }
}
@media (min-width:1200px) {
    .text-lg {
        font-size: 40px;
    }
}
.page-header {
    margin-top:0;
}
a {
    color: #900;
}
a:hover, a:focus {
    color: #f00;
}
a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
    border-color: #f00;
}
body>footer {
    color: #fff;
    background: #333;
    -webkit-box-shadow: 0px -1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px -1px rgba(0, 0, 0, 0.5);
    box-shadow: 0px -1px rgba(0, 0, 0, 0.5);
}

body>footer .footer-left {
    line-height: 72px;
}
body>footer a {
    color: #fff;
}

.banner {
    height: 400px;
    background-size: cover;
    background-position: center;
    position: relative;
}
.item>.banner {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.banner .banner-text {
    position:absolute;
    bottom: 30px;
    max-width: 100%;
}
.banner .banner-text.right {
    position:absolute;
    top: 120px;
    right: 0;
}
.banner .banner-text .box{
    float: left;
    margin: 0 5px 5px 0;
}
.banner .banner-text h1.box{
    clear: both;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
}

.btn {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 0;
}
.btn-danger {
    background-color: #900;
    border-color: #900;
}
.btn-danger:hover {
    background-color: #c00;
    border-color: #c00;
}
.thumb-wide {
    height: 0;
    padding: 0 0 56%;
    background-size: cover;
    background-position: center;
}
.thumb-square {
    height: 0;
    padding: 0 0 100%;
    background-size: cover;
    background-position: center;
}
.thumb-contain {
    background-size: contain;
    background-repeat: no-repeat;
}

.box-list {
    list-style: none;
    padding: 0;
    margin: 0 -15px;
    text-align: center;
}
.box-list>li {
    width: 100%;
    padding: 0 15px 30px;
    display: inline-block;
    vertical-align: top;
}
.box-list>li a{
    color: #333;
}
.row-padded>div {
    padding-bottom: 30px;
}
a.thumb, a.thumb:hover {
    color: #333;
    text-decoration:none;
    cursor: pointer;
}
.thumb h3 {
    float:left;
}
.thumb:hover h3 {
    border-bottom: 3px solid #c00;
    margin-bottom: 7px;
}
.red .thumb:hover h3 {
    border-bottom: 3px solid #000;
}
.thumb p {
    clear: both;
}
.thumb figure {
    position: relative;
    overflow: hidden;
    margin: 0;
    background: #fff;
}
.thumb figure::before{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    background: #900;
    content: "";
    border-radius: 50%;
}
.thumb figure * {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    position: relative;
}
.thumb figure:hover .img, .thumb figure:hover img {
    -webkit-transition: all 3s ease-in-out;
    -moz-transition: all 3s ease-in-out;
    -o-transition: all 3s ease-in-out;
    -ms-transition: all 3s ease-in-out;
    transition: all 3s ease-in-out;
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}
.thumb figure>.label {
    position:absolute;
    right: 10px;
    bottom: 10px;
}
.thumb figure>figcaption, img + .caption, .img + .caption {
    position: absolute;
    background: rgba(0,0,0,0.75);
    color: white;
    opacity: 0;
    filter: alpha(opacity=0);
    bottom: -90px;
    left: 0;
    right: 0;
    padding:15px;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    transition: all 0.6s ease;
    margin: 0;
}
.thumb:hover figure>figcaption, .img + .caption, img + .caption {
    filter: alpha(opacity=100);
    opacity: 1;
    bottom: 0;
}
@media (min-width: 768px) {
    .box-list-md>li {
        width: 50%;
    }
    .box-list-sm>li {
        width: 33.33333333333333%;
    }
    .box-list-xs>li {
        width: 25%;
    }
}
@media (min-width: 992px) {
    .box-list-md>li {
        width: 33.33333333333333%;
    }
    .box-list-sm>li {
        width: 25%;
    }
    .box-list-xs>li {
        width: 20%;
    }
}

.datebox span {
    background: #fff;
    display: block;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    width: 40px;
    text-align: center;
    float: left;
    margin-right: 10px;
    font-size: 18px;
    padding-top:3px;
}
.datebox small {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 9px;
    margin-top: 2px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 16px;
    background: #900;
    color: #fff;
}
.section {
    padding: 30px 0;
}
@media (min-width: 768px) {
    .section {
        /*min-height:100%;*/
    }
}
.grey {
    background-color: #f0f0f0;
}
.red {
    background-color: #900;
}
.black {
    background-color: #161616;
}
.black, .red, .black *, .red *, .box * {
    color: #fff;
}
.black input, .red input, .box input {
    color: #333;
}
.text-danger {
    color: #f00;
}
.rel {
    position: relative;
}
.box {
    background: rgba(0,0,0,0.75);
    padding: 15px;
    color: #fff;
    margin: 0;
}
.equal>*>.box {
    height: 100%;
}
.box-white, .box .nav>li>a:hover, .box .nav>li>a:focus {
    background: #fff;
    background: rgba(255,255,255,0.75);
}
.box-white, .box-white * {
    color: #000;
}
.box-red:hover, .box .nav>li.active>a {
    background: rgb(255,0,0);
    background: rgba(255,0,0,0.75);
}
a.box {
    display: inline-block;
}
a.box:hover, .box-red {
    background: rgba(255,0,0,0.75);
    color: #fff;
    text-decoration:none;
}
a.box-red:hover {
    background: rgba(255,0,0,0.9);
}
.carousel .box {
    max-width:400px;
    margin: 0 0 5px;
}
.carousel h3.box {
    display: inline-block;
    font-size: 32px;
    margin: 50px 0 5px;
}
.carousel-indicators {
    right: 0;
    width: auto;
    top: 50px;
    bottom: auto;
    left: auto;
    text-align: right;
    z-index:999;
}
.carousel-indicators li {
    width: 15px;
    height: 15px;
    border-width: 2px;
}
.carousel-indicators li.active {
    width: 17px;
    height: 17px;
    border-width: 2px;
}
.carousel-inner .container {
    z-index:1;
    position: relative
}
.carousel-sponsor {
    position: absolute;
    right: 0;
    bottom: 110px;
}
.arrow-down {
    position: absolute;
    bottom: 80px;
    color: #fff;
    font-size: 56px;
    text-align: center;
    margin-left: -28px;
    top: auto;
    left: 50%;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    filter: alpha(opacity=75);
    opacity: .75;
	-webkit-animation: bounce 2s ease infinite;
	-moz-animation: bounce 2s ease infinite;
	-ms-animation: bounce 2s ease infinite;
	-o-animation: bounce 2s ease infinite;
	animation: bounce 2s ease infinite;
    z-index: 3;
}

@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
	40% {-webkit-transform: translateY(-20px);}
	60% {-webkit-transform: translateY(-8px);}
}

@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-20px);}
	60% {-moz-transform: translateY(-8px);}
}

@-ms-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-ms-transform: translateY(0);}
	40% {-ms-transform: translateY(-20px);}
	60% {-ms-transform: translateY(-8px);}
}

@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-20px);}
	60% {-o-transform: translateY(-8px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-20px);}
	60% {transform: translateY(-8px);}
}

.bounce {
	-webkit-animation-name: bounce;
	-moz-animation-name: bounce;
	-ms-animation-name: bounce;
	-o-animation-name: bounce;
	animation-name: bounce;
}
.bg-pattern-1 {
    background-image:url(../pattern_1.png);
}
.bg-pattern-2 {
    background-image:url(../pattern_2.png);
}
#tickets .input-group {
    width: 200px;
}
#tickets .input-group-addon {
    border-radius: 0;
    color:#333;
    font-size:1.5em;
}
body .don-share {
    margin: 10px -10px 0 0;
}

.circle {
    padding-top: 50%;
    padding-bottom: 50%;
    line-height: 0;
    border-radius: 50%;
}

.nav-facebook a {
    background-color: #3b5998;
}

.nav-twitter a {
    background-color: #55acee;
}

.nav-google a {
    background-color: #dd4b39;
}

.nav-linkedin a {
    background-color: #0976b4;
}

.nav-pinterest a {
    background-color: #cc2127;
}

.nav-stumbleupon a {
    background-color: #eb4924;
}
.ticket-box {
    padding:15px; 
    margin-bottom:20px;
}