---
layout: default
---
  <div class="banner" {% if page.image %}data-parallax="scroll" data-image-src="{{ site.cdn | replace: '0x0', '1280x720' }}{{ page.image }}"{% endif %}>
    <div class="container rel fh">
      <div class="banner-text">
        <!--
        {% if page.start_date %}
        <div class="box box-white h3"><i class="fa fa-calendar"></i> {{ page.start_date | date: '%A, %d %B' }}</div>
        {% unless page.all_day %}
        <div class="box box-white h3"><i class="fa fa-clock-o"></i>
          {% capture minutes %}{{ page.start_date | date: '%M' }}{% endcapture %}
          {{ page.start_date | date: '%-I' }}{% unless minutes == '00' %}:{{ minutes }}{% endunless %}
          {{ page.start_date | date: '%p' }}
        </div>
        {% endunless %}
        {% endif %}
        -->
        <h1 class="box">{{ page.title }}</h1>
      </div>
      <div class="banner-text right">
        {% if page.price %}
          <div class="box box-white h3">&pound;{{ page.price }}</div>
          {% if page.ticket %}<a target="_blank" href="{{ page.ticket }}" class="box box-red h3"><i class="fa fa-shopping-cart"></i> Buy Tickets</a>{% endif %}
        {% elsif page.price == 0 %}
          <div class="box box-red h3 circle">Free</div>
        {% endif %}
      </div>
    </div>
  </div>
  
<div class="grey"><div class="container">{% include system/sharing %}</div></div>

<div class="section" id="content">
  <div class="container"> 
    <div class="row">
      <div class="col-sm-8">
        <form role="form" class="form-inline" action="https://send.donlabs.com/KQ" method="post" id="contactForm">
          <div class="well">
            <h3 class="page-header">Get notified when tickets are available</h3>
            <div class="form-group">
              <input type="hidden" name="event" id="event" value="{{ page.title }}" />
              <label class="sr-only" for="name">Name*</label>
              <input type="text" name="name" id="name" placeholder="Name*" class="form-control" required />
            </div>
            <div class="form-group">
              <label class="sr-only" for="email">Email*</label>
              <input type="email" name="email" id="email" placeholder="Email*" class="form-control" required />
            </div>
            <div class="form-group">
              <label class="sr-only" for="phone">Mobile</label>
              <input type="phone" name="phone" id="phone" placeholder="Mobile" class="form-control" />
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-danger">Notify me!</button>
            </div>
            <div>
              <small>* required</small>
            </div>
          </div>
        </form>
        {% include template/content.html %}
      </div>
      <div class="col-sm-3 col-sm-offset-1">
      
        <h3 class="media-heading">Location</h3>
      
        {% assign venue = (site.venues | where: 'slug', page.area | first) %}
        <div class="rel"><a href="{{ site.url }}{{ venue.url }}">
          <div class="thumb-wide img" style="background-image: url({{ site.cdn | replace: '0x0', '360x202' }}{{ venue.image }})"></div>
          <span class="caption h3">{{ venue.title }}</span>
        </a></div>
        <br>
      
        {% if page.sponsor %}
        {% assign sponsor = (site.sponsors | where: 'slug', page.sponsor | first) %}
        <div class="h3">Sponsored by</div>
        <img src="{{ site.cdn | replace: '0x0', '360x0' }}{{ sponsor.image }}">
        {% else %}
        <a class="box box-red h4 btn-block text-center" href="{{ site.url }}/contact.html" class="h3 box box-red">Sponsor this event</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% assign items = (site[page.collection] | where: 'parent', page.slug | where: 'published', 1 | sort: 'start_date') %}
{% assign count = (items | size) %}
{% if count > 0 %}
  {% capture title %}Events at {{ page.title }}{% endcapture %}
  {% include module module="gallery" class="black" title=title items=items %} 
{% endif %}
