---
layout: default
---
{% include modules/banner.html %}
<div class="grey"><div class="container">{% include system/sharing %}</div></div>
<div class="section" id="content">
  <div class="container">{% include template/content.html %}</div>
</div>
{% assign items = (site.events | where: 'area', page.slug | where: 'parent', nil | where: 'published', 1 | sort: 'start_date') %}
{% assign count = (items | size) %}
{% if count > 0 %}
  {% capture title %}Events at {{ page.title }}{% endcapture %}
  {% include module module="gallery" class="black" title=title items=items %} 
{% endif %}
