  <div id="carousel" class="carousel slide fh" data-ride="carousel" data-pause="false">
  <!-- Indicators -->
    <div class="container rel">
      <!--ol class="carousel-indicators">
        {% capture i %}0{% endcapture %}
        {% for item in include.category %}
        {% if page.carousel contains item.slug %}
        <li data-toggle="tooltip" title="{{ item.title }}" data-placement="bottom" data-target="#carousel" data-slide-to="{{i}}" class="{% if {{i}} == '0' %}active{% endif %}"></li>
        {% capture i %}{{ i | plus:1 }}{% endcapture %}
        {% endif %}
        {% endfor %}
      </ol-->
    </div>

    <!-- Wrapper for slides -->
    <div class="carousel-inner fh">
      {% capture i %}0{% endcapture %}
      {% for item in include.category %}
      <div class="item fh {% if {{i}} == '0' %}active{% endif %}">
        <div class="banner" style="background-image:url({{ site.cdn | replace: '0x0', '1280x720' }}{{ item.image }})"></div>
        <div class="container fh">
          <h3 class="box">{{ item.title }}</h3>
          <p class="box">{{ item.content | strip_html | truncatewords:20 }}</p>
          <!--a class="h4 box box-red" href="{{ site.url }}{{ item.url }}">Read More</a-->
          <!--
          {% if item.sponsor %}
          {% assign sponsor = (site.sponsors | where: 'slug', item.sponsor | first) %}
          <div class="h4 box box-white carousel-sponsor">Sponsored by <br><img src="{{ site.cdn | replace: '0x0', '200x0' }}{{ sponsor.image }}"></div>
          {% else %}
          <a href="{{ site.url }}/contact.html" class="h3 box box-red carousel-sponsor">Sponsor<br> this event</a>
          {% endif %}
          -->
        </div>
      </div>
      {% capture i %}{{ i | plus:1 }}{% endcapture %}
      {% endfor %}
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
    <a class="arrow-down" href="#logo">
      <span class="glyphicon glyphicon-chevron-down"></span>
    </a>
  </div>